.slideOut {
  -webkit-animation: slideList 0.5s ease-in-out;
          animation: slideList 0.5s ease-in-out;
}

@-webkit-keyframes slideList {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 20rem;
  }
}

@keyframes slideList {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 20rem;
  }
}

@-webkit-keyframes super-pulse {
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes super-pulse {
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

body .container {
  width: 100%;
  padding-left: 6.5rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 6rem !important;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
}

h5 {
  font-family: 'Poppins', sans-serif;
}

.heading-primary {
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 4rem;
  color: #fff;
  font-size: 5rem;
  font-weight: 700;
}

.heading-primary__main {
  display: block;
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 3.5rem;
}

.heading-primary__sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  margin-top: -3rem;
  letter-spacing: 1.74rem;
  word-spacing: 1rem;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, right top, left top, from(#444444), to(#555555));
  background-image: linear-gradient(to left, #444444, #555555);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 8rem;
}

.heading-secondary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-secondary sup {
  font-size: 1.6rem;
  color: #D94920;
}

.search {
  padding: 10rem 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__icon {
  position: relative;
  left: 4rem;
  top: 0.1rem;
  font-size: 2.2rem;
  color: rgba(108, 117, 125, 0.6);
  cursor: pointer;
  z-index: 10;
}

.search__input {
  width: 50rem;
  height: 5.5rem;
  font-size: 1.6rem;
  color: #6c757d;
  background: #fff;
  border: 0;
  border-radius: .5rem;
  -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  outline: none;
  padding: 1rem 1rem 1rem 6rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.search__input::-webkit-input-placeholder {
  color: rgba(108, 117, 125, 0.6);
  opacity: .8;
}

.search__input:-ms-input-placeholder {
  color: rgba(108, 117, 125, 0.6);
  opacity: .8;
}

.search__input::-ms-input-placeholder {
  color: rgba(108, 117, 125, 0.6);
  opacity: .8;
}

.search__input::placeholder {
  color: rgba(108, 117, 125, 0.6);
  opacity: .8;
}

.search-country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  padding-left: .2rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.country-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem 3rem 1rem 2rem;
  width: 50rem;
  height: 20rem;
  -webkit-box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 35px rgba(0, 0, 0, 0.1);
  border-radius: 0 .5rem;
  overflow-y: scroll;
}

.country-list::-webkit-scrollbar {
  background-color: #fff;
  width: 1rem;
}

.country-list::-webkit-scrollbar-thumb {
  background-color: #eee;
}

.country-list ul li {
  list-style: none;
  font-size: 1.3rem;
  margin: 0 1rem 1.5rem 0;
  color: rgba(108, 117, 125, 0.6);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.country-list ul li:hover {
  color: #6c757d;
  border-left: .2rem solid #6c757d;
}

.close-list {
  position: relative;
  top: 1rem;
  left: 50rem;
  font-size: 1.8rem;
  color: rgba(108, 117, 125, 0.6);
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.close-list:hover {
  color: rgba(255, 7, 58, 0.6);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.close-list:active {
  font-size: 1.3rem;
}

.hide {
  display: none;
}

/* NavBar */
/* SideBar */
.sidebar {
  width: 6.5rem;
  height: 100%;
  background-color: #fff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  -webkit-box-shadow: 0.1rem 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.1rem 1rem 3rem rgba(0, 0, 0, 0.1);
}

.sidebar__list {
  list-style: none;
  padding: 0;
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__links {
  font-size: 2.2rem;
  color: #979797;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.sidebar__links:hover {
  color: #FF8048;
}

.menu-icons {
  margin-top: 3rem;
  cursor: pointer;
}

.menu-icons__line {
  width: 2.2rem;
  height: .2rem;
  background-color: #555;
  margin-bottom: .6rem;
}

.menu-icons:hover .menu-icons__line {
  width: 2.2rem;
}

.menu-icons .line1,
.menu-icons .line3 {
  width: 1.8rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.year {
  letter-spacing: .18rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.line1style {
  -webkit-transform: rotate(-405deg) translate(-5px, 6px);
          transform: rotate(-405deg) translate(-5px, 6px);
  width: 2.5rem;
}

.line2style {
  opacity: 0;
}

.line3style {
  -webkit-transform: rotate(405deg) translate(-5px, -6px);
          transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem;
}

/* End of SideBar */
/* Navigation */
.navigation {
  position: fixed;
  left: -23rem;
  width: 25rem;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#202229), to(rgba(32, 34, 41, 0.6))), url(../assets/nav-bg.jpg) center no-repeat;
  background: linear-gradient(to top, #202229, rgba(32, 34, 41, 0.6)), url(../assets/nav-bg.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  padding-top: 3rem;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
}

.navigation__heading a {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: .2rem;
  color: #e7e7e7;
  text-align: center;
  cursor: pointer;
}

.navigation__items {
  position: relative;
}

.navigation__list {
  list-style: none;
  padding: 0;
  height: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__links {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color .5s;
  transition: color .5s;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__links:hover, .navigation__links:active {
  background-position: 100%;
  color: #313131;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.show-navigation {
  left: 6.5rem;
}

.copyright {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* End Of Navigation */
/* End of NavBar */
.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(32, 34, 41, 0.6)), to(rgba(32, 34, 41, 0.6))), url("../assets/header-bg.jpg");
  background-image: linear-gradient(to top, rgba(32, 34, 41, 0.6), rgba(32, 34, 41, 0.6)), url("../assets/header-bg.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  -webkit-box-shadow: 0.1rem 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.1rem 1rem 3rem rgba(0, 0, 0, 0.1);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo {
  height: 3.5rem;
  -webkit-animation: toLogo 3s infinite;
          animation: toLogo 3s infinite;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.section-stats {
  background-color: #fff;
  padding: 20rem 5rem;
  margin-top: -26vh;
}

.stats-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats-cards__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 16rem;
          flex: 1 0 16rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20rem;
  height: 25rem;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  border-radius: .5rem;
  margin: 1rem 1rem 3rem 1rem;
  background-size: 10rem 15rem;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.stats-cards__cards:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
}

.stats-cards__cards:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.stats-cards__population-card {
  background-image: url("../assets/mini-graphs/population.svg");
  position: relative;
}

.stats-cards__population-card:hover {
  background-color: rgba(14, 145, 140, 0.2);
}

.stats-cards__tests-card {
  background-image: url("../assets/mini-graphs/tests.svg");
  position: relative;
}

.stats-cards__tests-card:hover {
  background-color: rgba(141, 103, 255, 0.2);
}

.stats-cards__confirmed-card {
  background-image: url("../assets/mini-graphs/confirmed.svg");
  position: relative;
}

.stats-cards__confirmed-card:hover {
  background-color: rgba(255, 7, 58, 0.2);
}

.stats-cards__recovered-card {
  background-image: url("../assets/mini-graphs/recovered.svg");
}

.stats-cards__recovered-card:hover {
  background-color: rgba(40, 167, 69, 0.2);
}

.stats-cards__active-card {
  background-image: url("../assets/mini-graphs/active.svg");
}

.stats-cards__active-card:hover {
  background-color: rgba(0, 123, 255, 0.2);
}

.stats-cards__deceased-card {
  background-image: url("../assets/mini-graphs/deceased.svg");
}

.stats-cards__deceased-card:hover {
  background-color: rgba(108, 117, 125, 0.2);
}

.stats-cards__critical-card {
  background-image: url("../assets/mini-graphs/critical.svg");
}

.stats-cards__critical-card:hover {
  background-color: rgba(255, 128, 72, 0.2);
}

.card-heading {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: .1rem;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: -3rem;
}

.card-data {
  font-size: 2.5rem;
}

.card-data-new {
  font-size: 1.2rem;
  -webkit-animation: super-pulse .8s linear infinite;
          animation: super-pulse .8s linear infinite;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.heading-population,
.data-population {
  color: #0e918c;
}

.new-population {
  color: rgba(14, 145, 140, 0.6);
}

.heading-test,
.data-test {
  color: #8464E3;
}

.new-test {
  color: rgba(132, 100, 227, 0.6);
}

.heading-confirmed,
.data-confirmed {
  color: #ff073a;
}

.new-confirmed {
  color: rgba(255, 7, 58, 0.6);
}

.heading-recovered,
.data-recovered {
  color: #28a745;
}

.new-recovered {
  color: rgba(40, 167, 69, 0.6);
}

.heading-active,
.data-active {
  color: #007bff;
}

.new-active {
  color: rgba(0, 123, 255, 0.6);
}

.heading-deceased,
.data-deceased {
  color: #6c757d;
}

.new-deceased {
  color: rgba(108, 117, 125, 0.6);
}

.heading-critical,
.data-critical {
  color: #FF8048;
}

.new-critical {
  color: rgba(255, 128, 72, 0.6);
}
/*# sourceMappingURL=main.css.map */