* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans',serif;
}

/* NavBar */
/* SideBar */
.sidebar {
  width: 6.5rem;
  height: 100%;
  background-color: #F5F6FA;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__links {
  font-size: 1.95rem;
  color: #777;
  -webkit-transition: color 1s;
  transition: color 1s;
}

.sidebar__links:hover {
  color: #deaa86;
}

.menu-icons {
  margin-top: 3rem;
  cursor: pointer;
}

.menu-icons__line {
  width: 2.2rem;
  height: .2rem;
  background-color: #555;
  margin-bottom: .6rem;
}

.menu-icons:hover .menu-icons__line {
  width: 2.2rem;
}

.menu-icons .line1,
.menu-icons .line3 {
  width: 1.8rem;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.year {
  letter-spacing: .18rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: #666;
  -webkit-transition: color .5s;
  transition: color .5s;
}

/* End of SideBar */
/* Navigation */
.navigation {
  position: fixed;
  left: -23rem;
  width: 25rem;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#202229), to(rgba(32, 34, 41, 0.6))), url(../assets/nav-bg2.jpg) center no-repeat;
  background: linear-gradient(to top, #202229, rgba(32, 34, 41, 0.6)), url(../assets/nav-bg2.jpg) center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  -webkit-transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  transition: left 0.8s cubic-bezier(1, 0, 0, 1);
  padding-top: 3rem;
}

.navigation__heading {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: .2rem;
  color: #deaa86;
  text-align: center;
}

.navigation__items {
  position: relative;
}

.navigation__list {
  list-style: none;
  padding: 0;
  height: 24rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__links:link, .navigation__links:visited {
  display: inline-block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: color .5s;
  transition: color .5s;
  padding: 1rem 2rem;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation__links:hover, .navigation__links:active {
  background-position: 100%;
  color: #444;
  -webkit-transform: translateX(-1rem);
          transform: translateX(-1rem);
}

.show-navigation {
  left: 6.5rem;
}

.copyright {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.ham1style {
  -webkit-transform: rotate(-405deg) translate(-5px, 6px);
          transform: rotate(-405deg) translate(-5px, 6px);
  width: 2.5rem;
}

.ham2style {
  opacity: 0;
}

.ham3style {
  -webkit-transform: rotate(405deg) translate(-5px, -6px);
          transform: rotate(405deg) translate(-5px, -6px);
  width: 2.5rem;
}

/* End Of Navigation */
/* End of NavBar */
/*# sourceMappingURL=main.css.map */