.header {
    height: 100vh;
    background-image: linear-gradient(to top, rgba(32, 34, 41, .6), rgba(32, 34, 41, .6)),
    url("../assets/header-bg.jpg");
    background-size: cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
    box-shadow: 0.1rem 1rem 3rem rgba(0, 0, 0, 0.1);


    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
        animation: toLogo 3s infinite;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}