// utilities //

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 6rem !important;
}

h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700 !important;
}

h5 {
    font-family: 'Poppins', sans-serif;
}

// end of utilities //



.heading-primary {
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 4rem;
    color: #fff;
    font-size: 5rem;
    text-align: center;


    &__main {
        display: block;
        font-size: 6rem;
        letter-spacing: 2.5rem;
    }

    &__sub {
        display: block;
        font-size: 2rem;
        margin-top: -3rem;
        letter-spacing: 1.74rem;
        word-spacing: 1rem;
    }
}

.heading-secondary {
    font-size: 5rem;
    text-transform: uppercase;
    display: inline-block;
    color: #3d3d3d;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
    margin-top: 5rem;
    
    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba(#000, .2);
    }

    sup {
        font-size: 1.6rem;
        color: #D94920;
    }

    span {
        color: #fbaf03;
    }
}

.heading-contagion {
    font-size: 2.5rem;
}
